*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ad3955;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ad3955;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  background: #191919;
}
.logo-wrapper {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: grid;
  place-items: center;
  opacity: 0;
  animation: fade-in 0.8s linear forwards;
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #1c0025, #000000);
  background-size: 200% 200%;
  background-repeat: no-repeat;
}
.background .gradient {
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 8rem);
  transform: translate3d(-50%, -50%, 0);
  width: 30rem;
  height: 25rem;
  background: radial-gradient(
    circle at center,
    rgb(225 199 98 / 16%),
    rgba(28, 0, 37, 0) 10rem
  );
  filter: blur(20px);
}
.background .gradient-2 {
  position: absolute;
  top: calc(50% + 5rem);
  left: calc(50% + 8rem);
  transform: translate3d(-50%, -50%, 0);
  width: 12rem;
  height: 17rem;
  background: radial-gradient(
    circle at center,
    rgb(33 165 123 / 16%),
    rgba(28, 0, 37, 0) 10rem
  );
  filter: blur(20px);
}
.content {
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 1;
  position: relative;
  display: grid;
  place-items: center;
}
.content div {
  display: flex;
  flex-direction: column;
}
h2 {
  font-family: "Stick No Bills", sans-serif;
}
h2,
span {
  text-align: center;
}
.logo {
  width: 3rem;
  height: auto;
  color: #fff;
}
.circle {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  stroke-dasharray: 52;
  stroke-dashoffset: 40;
  animation: rotate 3s linear infinite;
  filter: drop-shadow(0px 0px 6px #fff);
}
@keyframes rotate {
  from {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
